spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:

    h2:
      console:
        enabled: true
        path: /h2-console

    jpa:
      show-sql: true
      properties:
        hibernate:
          format_sql: true

aws:
  access_key_id: ${AWS_KEY:empty}
  secret_access_key: ${AWS_SECRET_KEY:empty}

s3:
  bucket: ${BUCKET_NAME:empty}
  region: ${BUCKET_REGION:empty}